/* ------------------------------ Variables ---------------------------*/
.elements{
    --lower-color: #180B29;
    --upper-color: #180B29; 
}

/* ------------------------------ Layout ---------------------------*/

body {
    color: floralwhite;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background: #180B29;
    font-family: 'Montserrat', sans-serif;
}


.container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 60% 20% 5%;
    grid-template-areas: 
        "header header  header"
        "l-column main r-column"
        "l-column bottom r-column"
        "footer footer footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}



.l-column {
    grid-area: l-column;
}
.r-column {
    grid-area: r-column;
}

.bottom {
    grid-area: bottom;
}

/* ------------------------------ Main ---------------------------*/

.wrapper {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    gap: 5px;
}

#content-wrapper {
    grid-column: 2/5;
    grid-row: 1/6;
    background: linear-gradient(-15deg, var(--lower-color), var(--upper-color));
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 35% 35% 12%;
}

#content-wrapper .city {
    padding: 0.5em;
    margin: 0;
    align-self: center;
    justify-self: end;
    font-size: 4em;
}
#content-wrapper .measure {
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
    font-size: 9em;
}
#content-wrapper .weather {
    padding: 0;
    margin: 0;
    align-self: start;
    justify-self: center;
    font-size: 4em;
}
#content-wrapper .day {
    padding: 0.5em;
    margin: 0;
    align-self: end;
    justify-self: center;
    font-size: 3em;
}


/* ------------------------------ Responsive ---------------------------*/

@media (max-aspect-ratio: 9/10){
    .container{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 6fr 2fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "l-column"
        "main"
        "bottom"
        "r-column"
        "footer";
    }
    .wrapper{
        grid-template-columns: 1fr repeat(3, 30%) 1fr;
        grid-template-rows: 1fr repeat(3, 30%) 1fr;
    }
    #content-wrapper{
        grid-column: 2/5;
        grid-row: 2/5;
    }

    h4 {
        font-size: 4vw;
    }
}

/* ------------------------------ Animations ---------------------------*/

